a {
    text-decoration: none;
    color: black;
}

.round-container {
    border-radius: 11px;
    background-color: #E3F2FD;
    min-height: 80vh;
}

.shadow {
    border-radius: 11px;
    border: none;
    box-shadow: inset 0px 0px 2px #277ab6;
}

.shadow:hover {
    box-shadow: 0px 0px 2px #277ab6
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}

.logo-container {
    padding: 0px 15px;
    font-size: 25px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}